<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draw and Guess</title>
    <link rel="stylesheet" href="/css/index.css">
    <script type="module" src="/js/index.js"></script>
</head>
<body>
<div>
    <h1>
        Draw and Guess!
    </h1>
    <form th:action="@{/lobby/create}" method="post" th:object="${createLobby}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" type="text"/>
        <button type="submit">Create</button>
        <a th:href="@{/lobby/join}">Join existing lobby</a>
    </form>
</div>


</body>
</html>